{{- define "main" }}
<article class="post-single">
    <div id="single-content">
        <header class="post-header">
            {{ partial "breadcrumbs.html" . }}
            <h1 class="post-title">
                {{ .Title }}
                {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
            </h1>
            {{- if .Description }}
            <div class="post-description">
                {{ .Description }}
            </div>
            {{- end }}
            {{- if not (.Param "hideMeta") }}
            <div class="post-meta">
                {{- partial "post_meta.html" . -}}

                <!--标签显示在头部-->
                ·&nbsp;
                {{- if .Params.tags }}
                <span>
                    <svg xmlns='http://www.w3.org/2000/svg' style='position:relative; top:4px;' width='16' height='16' fill='currentColor'
                        viewBox='0 0 16 16'>
                        <path d='M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z' />
                        <path
                            d='M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z' />
                    </svg>
                    
                    <span>
                        {{- range $index, $value := ($.GetTerms "tags") }}
                        {{- if eq $index 0}}
                        <a class="post-tags-meta" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        {{- else }}
                        <a class="post-tags-meta" href="{{ .Permalink }}">、{{ .LinkTitle }}</a>
                        {{- end }}
                        {{- end }}
                    </span>
                </span>
                {{- end }}

                <!--访问量：<span id="twikoo_visitors"></span>-->
                <!-- <span id="busuanzi_container_page_pv">
                &nbsp;| 访问: <span id="busuanzi_value_page_pv"></span> -->
                &nbsp;·&nbsp;
                <span>
                    <svg xmlns='http://www.w3.org/2000/svg' style='position:relative; top:3px;' width='16' height='16' fill='currentColor'
                        viewBox='0 0 16 16'>
                        <path
                            d='M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z' />
                        <path d='M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z' />
                    </svg>
                    &nbsp;
                    <span id="busuanzi_value_page_pv"></span>
                </span>
                
            </span>

                {{- partial "translation_list.html" . -}}
                {{- partial "edit_post.html" . -}}
                {{- partial "post_canonical.html" . -}}
            </div>
            {{- end }}
        </header>
        {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default
        .Site.Params.cover.hidden }}
        {{- partial "cover1.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
        {{- if (.Param "ShowToc") }}
        <!-- {{- partial "toc.html" . }} -->
        {{- partial "toc_author.html" . }}
        {{- end }}
        <!-- {{- partial "toc_extend.html" . }} -->

        {{- if .Content }}
        <div class="post-content">
            {{- if not (.Param "disableAnchoredHeadings") }}
            {{- partial "anchored_headings.html" .Content -}}
            {{- else }}{{ .Content }}{{ end }}
        </div>
        {{- end }}

        {{- if .Param "reward" }}
        <div class="post-reward">
            <div style="padding: 0 0 0 0; margin: 0 0 0 0; width: 100%; font-size:16px; text-align: center;">
                <div id="QR" style="opacity: 0;">
                    <div id="wechat" style="display: inline-block">
                        <a class="fancybox" rel="group">
                            <img id="wechat_qr" src="{{ .Site.Params.WechatPay | absURL }}" alt="wechat_pay"></a>
                        <p>微信</p>
                    </div>
                    <div id="alipay" style="display: inline-block">
                        <a class="fancybox" rel="group">
                            <img id="alipay_qr" src="{{ .Site.Params.Alipay | absURL }}" alt="alipay"></a>
                        <p>支付宝</p>
                    </div>
                </div>
                <button id="rewardButton"
                        onclick="
                    var qr = document.getElementById('QR');
                    if (qr.style.opacity === '0') {
                        qr.style.opacity='1';
                    } else {
                        qr.style.opacity='0'
                    }"
                >
                    <span>🧧 鼓励</span>
                </button>
            </div>
        </div>
        {{- end }}

        <footer class="post-footer">
            <!--{{- if .Params.tags }}
            <ul class="post-tags">
                {{- range ($.GetTerms "tags") }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                {{- end }}
            </ul>
            {{- end }}-->
            {{- if (.Param "ShowPostNavLinks") }}
            {{- partial "post_nav_links.html" . }}
            {{- end }}
            {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
            {{- partial "share_icons.html" . -}}
            {{- end }}
        </footer>
    </div>

    {{- if (.Param "comments") }}
    {{- partial "comments.html" . }}
    {{- end }}
</article>

{{- end }}{{/* end main */}}
